asgiref==3.11.1
Django==5.2.11
django-ratelimit==4.1.0
pillow==12.2.0
python-dotenv==1.2.2
sqlparse==0.5.5
psycopg2-binary==2.9.12
dj-database-url==3.1.2
django-storages==1.14.2
boto3==1.28.62
whitenoise==6.7.0